
body {
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size: x-large;
}

h1 a {
  font-size: medium;
}

h1 img {
  float: left;
  padding-right: 1em;
}

h2 {
  margin: 3em 0 0 0;
  font-size: x-large;
  text-align: center;
  font-variant: small-caps;
}

h2 b {
  font-size: large;
  font-variant: normal;
  color: red;
}
    
h2 i {
  font-size: large;
  font-variant: normal;
  font-style: italic;
  font-weight: normal;
}

h3 {
  font-size: large;
  font-variant: small-caps;
  margin: 1em 0 0 0;
  text-align: center;
}

h4 {
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}

p {
  margin: 0 1em 0.5em 1em;
}

ul,
ol {
  margin: 0.5em 0 0.5em 1em;
}

li {
  margin: 0;
}

img.example {
  display: block;
  margin: 1em auto;
  width: 20%;
}

img.example3 {
  display: block;
  margin: 1em auto;
  max-width: 50%;
}

iframe {
  display: block;
  margin: 1em auto;
  max-width: 90%;
}

code {
  background: #f0f0f0;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}
